<h1>Hello There</h1>

<h3>Please Log In Below</h3>

<p>
  <form action="/user_login_form" method="post">
    Email:
    <br />
    <input type="text" name="email" required>
    <br />

    Password:
    <br />
    <input type="password" name="password" required>
    <br />
    
    <input type="submit" value="Log In">
  </form>
</p>

<p>
  New User?
  <br />
  <a href="/new_user">Create Profile</a>
</p>