<h1>Welcome!</h1>

<p>
  <form action="/user_login_form" method="">
    Email:
    <br />
    <input type="text" name="user_email" required>
    <br />
    Password:
    <br />
    <input type="password" name="user_password" required>
    <br />
    <input type="submit" value="Log In">
  </form>
</p>

<p>
  New User?
  <br />
  <a href="/new_user">Create Profile</a>
</p>