<h1>New User</h1>

<form action="/new_user_form" method="post">
  Name:
  <br />
  <input type="text" name="user_name" required>
  <br />
  Email:
  <br />
  <input type="text" name="user_email" required>
  <br />
  Password:
  <br />
  <input type="password" name="user_password" required>
  <br />
  <input type="submit" value="Sign Up">
</form>
