<h1>Update Your Profile</h1>

<p>
  <form action="/update_user_form" method="post">
    Name:
    <br />
    <input type="text" name="name" required>
    <br />
    Email:
    <br />
    <input type="text" name="email" required>
    <br />
    Password:
    <br />
    <input type="password" name="password" required>
    <br />
    <input type="submit" value="Update Profile">
  </form>
</p>