<h1>Authenticated Users</h1>

<p>
  <a href="/welcome">Back</a>
</p>

<p>
<% @users.each do |user| %>
  <p>
  <strong><%= user.name %></strong>
  <br />
  <a href="/user_update/<%= user.id %>">Update</a>
  <a href="/delete_user/<%= user.id %>">Delete</a>
  <a href="/logout_user/<%= user.id %>">Log Out</a>
  </p>
<% end %>
</p>