<h1>Welcome, <%= @user.name %>!</h1>

<p>
  <a href="/todo_personal">Your To-Do's</a>
</p>
<p>
  <a href="/todo_group">Group To-Do's</a>
</p>
<p>
  <a href="/user_profile">Users</a>
</p>
<p>
  <a href="/logout_user/<%= @user.id %>">Log Out</a>
</p>